# Pandas Quiz Notebook

This notebook is designed to help you master pandas through examples and practice questions. Each section includes:
1. **Explanation** - Understanding the concept
2. **Examples** - Working examples to learn from
3. **Practice Questions** - Test your understanding
4. **Hard Questions** - Challenge yourself further

Let's get started!

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

## 1. Basic Data Structures in Pandas

Pandas has two main data structures:
- **Series**: One-dimensional labeled array
- **DataFrame**: Two-dimensional labeled data structure (like a spreadsheet)

In [ ]:
# Example: Creating a Series
data = [10, 20, 30, 40, 50]
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
print("Series:")
print(series)
print("\nSeries type:", type(series))
print("Series index:", series.index)
print("Series values:", series.values)

In [ ]:
# Example: Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Tokyo', 'Paris']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("\nDataFrame shape:", df.shape)
print("DataFrame columns:", df.columns.tolist())
print("DataFrame index:", df.index.tolist())

### Practice Question 1.1: Basic Data Structures

**Task**: Create a Series with the values [100, 200, 300, 400] and custom index ['Q1', 'Q2', 'Q3', 'Q4']. Then print the value at index 'Q2'.

In [ ]:
# Your code here
# Create a Series with values [100, 200, 300, 400] and index ['Q1', 'Q2', 'Q3', 'Q4']
# Print the value at index 'Q2'

### Hard Question 1.2: Basic Data Structures

**Task**: Create a DataFrame from a dictionary where:
- Keys are: 'Product', 'Price', 'Stock'
- Values are lists: ['A', 'B', 'C', 'D'], [10.5, 20.3, 15.7, 8.9], [100, 50, 75, 200]
- Set the index to be ['P1', 'P2', 'P3', 'P4']
- Then access the 'Price' column and calculate the mean price

In [ ]:
# Your code here

## 2. Object Creation

Pandas objects can be created from various sources: lists, dictionaries, NumPy arrays, CSV files, etc.

In [ ]:
# Example: Creating DataFrame from list of lists
data = [
    [1, 'Apple', 0.5],
    [2, 'Banana', 0.3],
    [3, 'Cherry', 1.2]
]
df_from_list = pd.DataFrame(data, columns=['ID', 'Fruit', 'Price'])
print("DataFrame from list of lists:")
print(df_from_list)

In [ ]:
# Example: Creating DataFrame from dictionary
data_dict = {
    'Student': ['John', 'Jane', 'Mike'],
    'Math': [85, 90, 78],
    'Science': [92, 88, 85]
}
df_from_dict = pd.DataFrame(data_dict)
print("DataFrame from dictionary:")
print(df_from_dict)

In [ ]:
# Example: Creating DataFrame from NumPy array
np_array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df_from_numpy = pd.DataFrame(np_array, columns=['A', 'B', 'C'])
print("DataFrame from NumPy array:")
print(df_from_numpy)

### Practice Question 2.1: Object Creation

**Task**: Create a DataFrame from a dictionary with keys 'Month' and 'Sales', where Month contains ['Jan', 'Feb', 'Mar'] and Sales contains [1000, 1500, 1200].

In [ ]:
# Your code here

### Hard Question 2.2: Object Creation

**Task**: Create a DataFrame from a NumPy array of shape (5, 3) filled with random integers between 1 and 100. Set column names as ['X', 'Y', 'Z'] and index as ['Row1', 'Row2', 'Row3', 'Row4', 'Row5'].

In [ ]:
# Your code here

## 3. Viewing Data

Pandas provides various methods to inspect and view your data: head(), tail(), info(), describe(), etc.

In [ ]:
# Create a sample DataFrame for viewing examples
np.random.seed(42)
df_view = pd.DataFrame({
    'ID': range(1, 11),
    'Name': [f'Person_{i}' for i in range(1, 11)],
    'Age': np.random.randint(20, 50, 10),
    'Salary': np.random.randint(30000, 100000, 10),
    'Department': np.random.choice(['IT', 'HR', 'Finance'], 10)
})
print("Full DataFrame:")
print(df_view)

In [ ]:
# Example: head() - View first few rows
print("First 3 rows:")
print(df_view.head(3))
print("\nFirst 5 rows (default):")
print(df_view.head())

In [ ]:
# Example: tail() - View last few rows
print("Last 3 rows:")
print(df_view.tail(3))

In [ ]:
# Example: info() - Get information about the DataFrame
print("DataFrame Info:")
df_view.info()

In [ ]:
# Example: describe() - Get statistical summary
print("Statistical Summary:")
print(df_view.describe())

In [ ]:
# Example: shape, columns, index attributes
print("Shape:", df_view.shape)
print("Columns:", df_view.columns.tolist())
print("Index:", df_view.index.tolist())
print("Data types:\n", df_view.dtypes)

### Practice Question 3.1: Viewing Data

**Task**: Using the df_view DataFrame above, display:
1. The first 2 rows
2. The shape of the DataFrame
3. The data types of all columns

In [ ]:
# Your code here

### Hard Question 3.2: Viewing Data

**Task**: Create a DataFrame with 20 rows and 4 columns (filled with random data), then:
1. Display the last 5 rows
2. Get the info() summary
3. Get the describe() summary only for numeric columns
4. Check if the DataFrame has any null values using isnull().any()

In [ ]:
# Your code here

## 4. Selection

Selection in pandas can be done using:
- Column selection: `df['column']` or `df.column`
- Row selection: `df.loc[]` or `df.iloc[]`
- Boolean indexing: `df[df['column'] > value]`

In [ ]:
# Create sample DataFrame for selection examples
df_select = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': ['x', 'y', 'z', 'x', 'y']
})
print("Sample DataFrame:")
print(df_select)

In [ ]:
# Example: Selecting a single column
print("Column A:")
print(df_select['A'])
print("\nColumn B (using dot notation):")
print(df_select.B)

In [ ]:
# Example: Selecting multiple columns
print("Columns A and B:")
print(df_select[['A', 'B']])

In [ ]:
# Example: Using loc for label-based selection
print("Row 2 using loc:")
print(df_select.loc[2])
print("\nRows 1-3, columns A and B:")
print(df_select.loc[1:3, ['A', 'B']])

In [ ]:
# Example: Using iloc for integer position-based selection
print("Row at position 2:")
print(df_select.iloc[2])
print("\nRows 1-3, columns 0-1:")
print(df_select.iloc[1:4, 0:2])

In [ ]:
# Example: Boolean indexing
print("Rows where A > 2:")
print(df_select[df_select['A'] > 2])
print("\nRows where C == 'x':")
print(df_select[df_select['C'] == 'x'])

### Practice Question 4.1: Selection

**Task**: Using df_select DataFrame above:
1. Select column 'B'
2. Select rows where column 'A' is greater than 3
3. Select columns 'A' and 'C' for rows 0 to 2

In [ ]:
# Your code here

### Hard Question 4.2: Selection

**Task**: Create a DataFrame with columns 'Name', 'Age', 'Score' (10 rows). Then:
1. Select rows where Age is between 25 and 35 (inclusive)
2. Select rows where Score > 80 AND Age < 30
3. Use iloc to select every other row (rows 0, 2, 4, 6, 8) and columns 1 and 2
4. Use loc to select rows with index labels 2, 4, 6 and only the 'Name' and 'Score' columns

In [ ]:
# Your code here

## 5. Missing Data

Pandas handles missing data (NaN values) with methods like:
- `isnull()` / `isna()` - Check for missing values
- `notnull()` / `notna()` - Check for non-missing values
- `fillna()` - Fill missing values
- `dropna()` - Drop rows/columns with missing values

In [ ]:
# Create DataFrame with missing values
df_missing = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [10, np.nan, 30, np.nan, 50],
    'C': ['x', 'y', 'z', np.nan, 'x']
})
print("DataFrame with missing values:")
print(df_missing)

In [ ]:
# Example: Check for missing values
print("Check for missing values:")
print(df_missing.isnull())
print("\nCount of missing values per column:")
print(df_missing.isnull().sum())

In [ ]:
# Example: Fill missing values
print("Fill missing values with 0:")
print(df_missing.fillna(0))
print("\nFill missing values with mean:")
print(df_missing.fillna(df_missing.mean()))

In [ ]:
# Example: Drop rows with missing values
print("Drop rows with any missing values:")
print(df_missing.dropna())
print("\nDrop rows where all values are missing:")
print(df_missing.dropna(how='all'))

In [ ]:
# Example: Forward fill and backward fill
# Note: In newer pandas versions, use ffill() and bfill() methods instead of fillna(method='ffill')
print("Forward fill (fill with previous value):")
print(df_missing.ffill())
print("\nBackward fill (fill with next value):")
print(df_missing.bfill())

### Practice Question 5.1: Missing Data

**Task**: Using df_missing DataFrame above:
1. Count how many missing values are in each column
2. Fill missing values in column 'A' with the mean of column 'A'
3. Drop all rows that have any missing values

In [ ]:
# Your code here

### Hard Question 5.2: Missing Data

**Task**: Create a DataFrame with missing values in multiple columns. Then:
1. Fill missing values in numeric columns with their respective medians
2. Fill missing values in string columns with 'Unknown'
3. Drop columns that have more than 50% missing values
4. For remaining missing values, use forward fill, but limit it to fill only 1 consecutive missing value

In [ ]:
# Your code here

## 6. Operations

Pandas supports various operations: arithmetic, comparison, logical operations, etc.

In [ ]:
# Create sample DataFrames for operations
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

In [ ]:
# Example: Arithmetic operations
print("Addition:")
print(df1 + df2)
print("\nMultiplication:")
print(df1 * 2)
print("\nDivision:")
print(df2 / df1)

In [ ]:
# Example: Comparison operations
print("Greater than:")
print(df1 > 2)
print("\nEqual to:")
print(df1 == 2)

In [ ]:
# Example: Adding new column
df1['C'] = df1['A'] + df1['B']
print("DataFrame with new column C:")
print(df1)

In [ ]:
# Example: Applying operations row-wise or column-wise
print("Sum of each column:")
print(df1.sum())
print("\nSum of each row:")
print(df1.sum(axis=1))
print("\nMean of each column:")
print(df1.mean())

### Practice Question 6.1: Operations

**Task**: Using df1 DataFrame above:
1. Multiply column 'A' by 3
2. Create a new column 'D' that is the product of columns 'A' and 'B'
3. Calculate the sum of all values in the DataFrame

In [ ]:
# Your code here

### Hard Question 6.2: Operations

**Task**: Create a DataFrame with columns 'Price' and 'Quantity' (5 rows). Then:
1. Create a new column 'Total' = Price * Quantity
2. Apply a 10% discount to the 'Total' column (multiply by 0.9)
3. Calculate the cumulative sum of the 'Total' column
4. Find rows where 'Total' is greater than the mean of 'Total'

In [ ]:
# Your code here

## 7. Stats

Pandas provides statistical functions: mean(), median(), std(), var(), min(), max(), quantile(), etc.

In [ ]:
# Create sample DataFrame for statistics
np.random.seed(42)
df_stats = pd.DataFrame({
    'Sales': np.random.randint(1000, 5000, 10),
    'Profit': np.random.randint(100, 1000, 10),
    'Customers': np.random.randint(50, 200, 10)
})
print("Sample DataFrame:")
print(df_stats)

In [ ]:
# Example: Basic statistics
print("Mean of each column:")
print(df_stats.mean())
print("\nMedian of each column:")
print(df_stats.median())
print("\nStandard deviation:")
print(df_stats.std())
print("\nVariance:")
print(df_stats.var())

In [ ]:
# Example: Min, Max, Sum
print("Minimum values:")
print(df_stats.min())
print("\nMaximum values:")
print(df_stats.max())
print("\nSum of each column:")
print(df_stats.sum())

In [ ]:
# Example: Quantiles
print("25th percentile (Q1):")
print(df_stats.quantile(0.25))
print("\n50th percentile (Median):")
print(df_stats.quantile(0.5))
print("\n75th percentile (Q3):")
print(df_stats.quantile(0.75))

In [ ]:
# Example: describe() - comprehensive statistics
print("Comprehensive statistics:")
print(df_stats.describe())

### Practice Question 7.1: Stats

**Task**: Using df_stats DataFrame above:
1. Calculate the mean of the 'Sales' column
2. Find the maximum value in the 'Profit' column
3. Calculate the standard deviation of the 'Customers' column

In [ ]:
# Your code here

### Hard Question 7.2: Stats

**Task**: Create a DataFrame with a numeric column (at least 20 values). Then:
1. Calculate the 25th, 50th, and 75th percentiles
2. Find the interquartile range (IQR = Q3 - Q1)
3. Identify outliers (values outside Q1 - 1.5*IQR and Q3 + 1.5*IQR)
4. Calculate the coefficient of variation (std/mean) for the column

In [ ]:
# Your code here

## 8. User Defined Functions

You can apply custom functions to pandas DataFrames using `apply()`, `applymap()`, or `map()`.

In [ ]:
# Create sample DataFrame
df_func = pd.DataFrame({
    'Numbers': [1, 2, 3, 4, 5],
    'Text': ['hello', 'world', 'pandas', 'python', 'data']
})
print("Sample DataFrame:")
print(df_func)

In [ ]:
# Example: Apply function to a column
def square(x):
    return x ** 2

df_func['Squared'] = df_func['Numbers'].apply(square)
print("After applying square function:")
print(df_func)

In [ ]:
# Example: Apply lambda function
df_func['Double'] = df_func['Numbers'].apply(lambda x: x * 2)
print("After applying lambda function:")
print(df_func)

In [ ]:
# Example: Apply function to each row
def row_sum(row):
    return row['Numbers'] + row['Squared']

df_func['RowSum'] = df_func.apply(row_sum, axis=1)
print("After applying row-wise function:")
print(df_func)

In [ ]:
# Example: Apply function with multiple arguments
def multiply_by_n(x, n):
    return x * n

df_func['Multiplied'] = df_func['Numbers'].apply(lambda x: multiply_by_n(x, 3))
print("After applying function with arguments:")
print(df_func)

In [ ]:
# Example: Using map() for element-wise transformation
df_func['TextLength'] = df_func['Text'].map(len)
print("After mapping length function:")
print(df_func)

In [ ]:
# Your code here

### Hard Question 8.2: User Defined Functions

**Task**: Create a DataFrame with columns 'Amount' and 'Category'. Then:
1. Create a function that applies different tax rates based on category (e.g., 'A': 0.1, 'B': 0.15, 'C': 0.2)
2. Apply this function to create a 'Tax' column
3. Use apply() on the entire DataFrame to create a 'Total' column that is Amount + Tax
4. Use map() to create a 'CategoryCode' column that maps categories to numbers (A->1, B->2, C->3)

In [ ]:
# Your code here

## 9. GroupBy Operations

GroupBy allows you to split a DataFrame into groups based on some criteria, apply a function to each group independently, and combine the results.

In [ ]:
# Create sample DataFrame for groupby examples
df_group = pd.DataFrame({
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace'],
    'Salary': [80000, 60000, 85000, 70000, 65000, 90000, 72000],
    'Age': [30, 25, 35, 28, 27, 32, 29]
})
print("Sample DataFrame:")
print(df_group)

In [ ]:
# Example: Group by single column and get mean
print("Mean salary by department:")
print(df_group.groupby('Department')['Salary'].mean())

In [ ]:
# Example: Multiple aggregations
print("Multiple statistics by department:")
print(df_group.groupby('Department')['Salary'].agg(['mean', 'sum', 'count', 'max', 'min']))

In [ ]:
# Example: Group by multiple columns
df_group2 = pd.DataFrame({
    'Department': ['IT', 'IT', 'HR', 'HR', 'IT'],
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'Salary': [80000, 75000, 60000, 65000, 85000]
})
print("Group by multiple columns:")
print(df_group2.groupby(['Department', 'Gender'])['Salary'].mean())

In [ ]:
# Example: Apply different functions to different columns
print("Different aggregations for different columns:")
print(df_group.groupby('Department').agg({
    'Salary': 'mean',
    'Age': ['min', 'max']
}))

### Practice Question 9.1: GroupBy Operations

**Task**: Using df_group DataFrame above:
1. Group by 'Department' and find the maximum salary in each department
2. Group by 'Department' and calculate the average age in each department
3. Count the number of employees in each department

In [ ]:
# Your code here

### Hard Question 9.2: GroupBy Operations

**Task**: Create a DataFrame with columns 'Category', 'Product', 'Sales', 'Month'. Then:
1. Group by 'Category' and calculate total sales per category
2. Group by 'Category' and 'Month' to get average sales
3. For each category, find the product with the highest sales
4. Create a pivot table showing sales by Category (rows) and Month (columns)

In [ ]:
# Your code here

## 10. Merging and Joining DataFrames

Pandas provides various methods to combine DataFrames: merge(), join(), concat().

In [ ]:
# Create sample DataFrames for merging
df1_merge = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28]
})

df2_merge = pd.DataFrame({
    'ID': [1, 2, 3, 5],
    'City': ['New York', 'London', 'Tokyo', 'Paris'],
    'Salary': [80000, 70000, 90000, 75000]
})

print("DataFrame 1:")
print(df1_merge)
print("\nDataFrame 2:")
print(df2_merge)

In [ ]:
# Example: Inner join (default)
print("Inner join (only matching IDs):")
print(pd.merge(df1_merge, df2_merge, on='ID', how='inner'))

In [ ]:
# Example: Left join
print("Left join (all from left DataFrame):")
print(pd.merge(df1_merge, df2_merge, on='ID', how='left'))

In [ ]:
# Example: Right join
print("Right join (all from right DataFrame):")
print(pd.merge(df1_merge, df2_merge, on='ID', how='right'))

In [ ]:
# Example: Outer join (full outer join)
print("Outer join (all records):")
print(pd.merge(df1_merge, df2_merge, on='ID', how='outer'))

In [ ]:
# Example: Concatenate DataFrames
df_a = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df_b = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
print("Concatenate vertically:")
print(pd.concat([df_a, df_b], ignore_index=True))

In [ ]:
# Your code here

### Hard Question 10.2: Merging and Joining

**Task**: Create three DataFrames:
1. df_employees: 'EmpID', 'Name', 'DeptID'
2. df_departments: 'DeptID', 'DeptName'
3. df_salaries: 'EmpID', 'Salary', 'Year'

Then:
1. Merge employees and departments to get employee names with department names
2. Merge the result with salaries using a left join
3. Handle any missing values appropriately
4. Create a summary showing average salary by department

In [ ]:
# Your code here

## 11. Sorting

Pandas provides `sort_values()` and `sort_index()` to sort DataFrames by column values or index.

In [ ]:
# Create sample DataFrame for sorting
df_sort = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [30, 25, 35, 28],
    'Salary': [80000, 70000, 90000, 75000]
})
print("Original DataFrame:")
print(df_sort)

In [ ]:
# Example: Sort by single column (ascending)
print("Sorted by Age (ascending):")
print(df_sort.sort_values('Age'))

In [ ]:
# Example: Sort by single column (descending)
print("Sorted by Salary (descending):")
print(df_sort.sort_values('Salary', ascending=False))

In [ ]:
# Example: Sort by multiple columns
print("Sorted by Age then Salary:")
print(df_sort.sort_values(['Age', 'Salary']))

In [ ]:
# Example: Sort by index
df_sort_index = df_sort.set_index('Name')
print("Sorted by index:")
print(df_sort_index.sort_index())

### Practice Question 11.1: Sorting

**Task**: Using df_sort DataFrame above:
1. Sort by 'Salary' in descending order
2. Sort by 'Age' first, then by 'Salary' (both ascending)
3. Reset the index after sorting

In [ ]:
# Your code here

### Hard Question 11.2: Sorting

**Task**: Create a DataFrame with columns 'Product', 'Category', 'Price', 'Sales'. Then:
1. Sort by 'Category' ascending, then by 'Sales' descending
2. Find the top 3 products by Sales in each Category
3. Create a new column 'Rank' that ranks products by Price within each Category

In [ ]:
# Your code here

## 12. String Operations

Pandas provides string accessor (.str) for vectorized string operations on Series.

In [ ]:
# Create sample DataFrame with string data
df_string = pd.DataFrame({
    'Name': ['alice smith', 'BOB JONES', 'Charlie Brown', 'diana wilson'],
    'Email': ['alice@email.com', 'bob@email.com', 'charlie@email.com', 'diana@email.com'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
})
print("Original DataFrame:")
print(df_string)

In [ ]:
# Example: Convert to uppercase
print("Uppercase names:")
print(df_string['Name'].str.upper())

In [ ]:
# Example: Convert to lowercase
print("Lowercase names:")
print(df_string['Name'].str.lower())

In [ ]:
# Example: Capitalize (first letter uppercase)
print("Capitalized names:")
print(df_string['Name'].str.capitalize())

In [ ]:
# Example: Split strings
print("Split names by space:")
print(df_string['Name'].str.split(' '))

In [ ]:
# Example: Extract substring
print("Extract domain from email:")
print(df_string['Email'].str.split('@').str[1])

In [ ]:
# Example: Contains (check if string contains substring)
print("Names containing 'alice' (case insensitive):")
print(df_string['Name'].str.contains('alice', case=False))

In [ ]:
# Example: Replace
print("Replace space with underscore in names:")
print(df_string['Name'].str.replace(' ', '_'))

### Practice Question 12.1: String Operations

**Task**: Using df_string DataFrame above:
1. Convert all names to title case (Title Case)
2. Extract the first name from the 'Name' column (before the space)
3. Check which emails contain 'gmail' in the domain

In [ ]:
# Your code here

### Hard Question 12.2: String Operations

**Task**: Create a DataFrame with a column containing phone numbers in format '(123) 456-7890'. Then:
1. Extract area code (first 3 digits)
2. Remove all non-digit characters
3. Format phone numbers as '123-456-7890'
4. Create a function to validate phone numbers (must have 10 digits)

In [ ]:
# Your code here

## 13. DateTime Operations

Pandas has powerful datetime capabilities for working with dates and times.

In [ ]:
# Create sample DataFrame with dates
df_date = pd.DataFrame({
    'Date': ['2023-01-15', '2023-02-20', '2023-03-10', '2023-04-05'],
    'Sales': [1000, 1500, 1200, 1800]
})
df_date['Date'] = pd.to_datetime(df_date['Date'])
print("DataFrame with dates:")
print(df_date)
print("\nDate column type:", df_date['Date'].dtype)

In [ ]:
# Example: Extract date components
print("Year:")
print(df_date['Date'].dt.year)
print("\nMonth:")
print(df_date['Date'].dt.month)
print("\nDay:")
print(df_date['Date'].dt.day)
print("\nDay of week (0=Monday):")
print(df_date['Date'].dt.dayofweek)

In [ ]:
# Example: Date arithmetic
print("Add 30 days:")
print(df_date['Date'] + pd.Timedelta(days=30))
print("\nDifference in days from first date:")
print((df_date['Date'] - df_date['Date'].iloc[0]).dt.days)

In [ ]:
# Example: Date filtering
print("Dates in January:")
print(df_date[df_date['Date'].dt.month == 1])

In [ ]:
# Example: Format dates
print("Formatted dates:")
print(df_date['Date'].dt.strftime('%B %d, %Y'))

### Practice Question 13.1: DateTime Operations

**Task**: Using df_date DataFrame above:
1. Extract the month name from the 'Date' column
2. Find all dates that are in Q1 (January, February, March)
3. Calculate the number of days between consecutive dates

In [ ]:
# Your code here

### Hard Question 13.2: DateTime Operations

**Task**: Create a DataFrame with a datetime column containing dates over several months. Then:
1. Set the datetime column as index
2. Resample the data to get monthly aggregates (sum, mean, etc.)
3. Calculate rolling 7-day average
4. Extract business days only (exclude weekends)
5. Find the date range and calculate the number of business days in that range

In [ ]:
# Your code here

## 14. Reshaping Data (Pivot and Melt)

Pandas provides methods to reshape data: pivot(), pivot_table(), melt(), stack(), unstack().

In [ ]:
# Create sample DataFrame for reshaping
df_pivot = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 180]
})
print("Original DataFrame:")
print(df_pivot)

In [ ]:
# Example: Pivot table
print("Pivot table (Products as columns):")
print(df_pivot.pivot(index='Date', columns='Product', values='Sales'))

In [ ]:
# Example: Pivot table with aggregation
df_pivot2 = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-01', '2023-01-01', '2023-01-02'],
    'Product': ['A', 'A', 'B', 'A'],
    'Sales': [100, 120, 150, 200]
})
print("Pivot table with mean aggregation:")
print(pd.pivot_table(df_pivot2, values='Sales', index='Date', columns='Product', aggfunc='mean'))

In [ ]:
# Example: Melt (unpivot)
df_wide = pd.DataFrame({
    'ID': [1, 2],
    'Product_A': [100, 200],
    'Product_B': [150, 180]
})
print("Wide format:")
print(df_wide)
print("\nMelted format:")
print(pd.melt(df_wide, id_vars='ID', value_vars=['Product_A', 'Product_B'], 
              var_name='Product', value_name='Sales'))

### Practice Question 14.1: Reshaping Data

**Task**: Using df_pivot DataFrame above:
1. Create a pivot table with 'Date' as index and 'Product' as columns
2. Reset the index of the pivot table to make 'Date' a regular column
3. Create a melted version where 'Product' becomes a variable column

In [ ]:
# Your code here

### Hard Question 14.2: Reshaping Data

**Task**: Create a wide format DataFrame with months as columns and products as rows. Then:
1. Melt the DataFrame to long format
2. Create a pivot table showing average sales by product and month
3. Use stack() and unstack() to reshape the data
4. Create a cross-tabulation (crosstab) between two categorical columns

In [ ]:
# Your code here

## 15. Reading and Writing Files

Pandas can read and write data from/to various file formats: CSV, Excel, JSON, SQL, etc.

In [ ]:
# Example: Create a sample DataFrame to demonstrate file operations
df_file = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Tokyo']
})
print("Sample DataFrame:")
print(df_file)

In [ ]:
# Example: Write to CSV
df_file.to_csv('sample_data.csv', index=False)
print("DataFrame saved to CSV file")

# Example: Read from CSV
df_read = pd.read_csv('sample_data.csv')
print("\nDataFrame read from CSV:")
print(df_read)

In [ ]:
# Example: Read CSV with options
# df = pd.read_csv('file.csv', sep=',', header=0, index_col=0, nrows=100)
# Common parameters:
# - sep: delimiter (default ',')
# - header: row to use as column names (default 0)
# - index_col: column to use as index
# - nrows: number of rows to read
# - usecols: columns to read
# - na_values: values to treat as NaN

print("Example of reading CSV with parameters:")
print("pd.read_csv('file.csv', sep=',', header=0, index_col='Name')")

In [ ]:
# Example: Write to and read from JSON
df_file.to_json('sample_data.json', orient='records')
print("DataFrame saved to JSON")

df_json = pd.read_json('sample_data.json')
print("\nDataFrame read from JSON:")
print(df_json)

In [ ]:
# Example: Read Excel (requires openpyxl or xlrd)
# df_excel = pd.read_excel('file.xlsx', sheet_name='Sheet1')
# df_file.to_excel('sample_data.xlsx', index=False)

print("Example of Excel operations:")
print("df.to_excel('file.xlsx', index=False)")
print("df = pd.read_excel('file.xlsx', sheet_name='Sheet1')")

### Practice Question 15.1: Reading and Writing Files

**Task**: 
1. Create a DataFrame with columns 'Product', 'Price', 'Quantity'
2. Save it to a CSV file named 'products.csv' without the index
3. Read it back and display the first few rows
4. Save it to JSON format

In [ ]:
# Your code here

### Hard Question 15.2: Reading and Writing Files

**Task**: 
1. Create a DataFrame with 100 rows of sample data
2. Save it to CSV with custom formatting (specific columns only, with index as 'ID')
3. Read a CSV file and handle missing values appropriately
4. Read only specific columns from a CSV file
5. Write to Excel with multiple sheets (if openpyxl is available)

In [ ]:
# Your code here

## 16. Advanced Indexing (MultiIndex)

MultiIndex (hierarchical indexing) allows you to have multiple index levels on an axis.

In [ ]:
# Create sample DataFrame with MultiIndex
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=('Letter', 'Number'))
df_multi = pd.DataFrame({'Value': [10, 20, 30, 40]}, index=index)
print("DataFrame with MultiIndex:")
print(df_multi)

In [ ]:
# Example: Access data using MultiIndex
print("Access all rows with Letter='A':")
print(df_multi.loc['A'])

In [ ]:
# Example: Access specific combination
print("Access ('A', 1):")
print(df_multi.loc[('A', 1)])

In [ ]:
# Example: Reset index
print("Reset MultiIndex to columns:")
print(df_multi.reset_index())

In [ ]:
# Example: Set index to create MultiIndex
df_set = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'Subcategory': ['X', 'Y', 'X', 'Y'],
    'Value': [10, 20, 30, 40]
})
print("Original DataFrame:")
print(df_set)
print("\nWith MultiIndex:")
print(df_set.set_index(['Category', 'Subcategory']))

### Practice Question 16.1: MultiIndex

**Task**: 
1. Create a DataFrame with MultiIndex using 'Department' and 'Employee' as index levels
2. Access all employees in a specific department
3. Reset the index to convert MultiIndex to regular columns

In [ ]:
# Your code here

### Hard Question 16.2: MultiIndex

**Task**: Create a DataFrame with columns 'Year', 'Quarter', 'Product', 'Sales'. Then:
1. Set 'Year' and 'Quarter' as MultiIndex
2. Use swaplevel() to swap the index levels
3. Use xs() (cross-section) to select data for a specific year
4. Sort the MultiIndex
5. Perform groupby operations on the MultiIndex levels

In [ ]:
# Your code here

## 17. Data Cleaning and Transformation

Common data cleaning tasks: removing duplicates, renaming columns, changing data types, etc.

In [ ]:
# Create sample DataFrame for cleaning
df_clean = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'age': ['25', '30', '25', '35', '30'],
    'salary': [80000, 70000, 80000, 90000, 70000],
    'city': ['New York', 'London', 'New York', 'Tokyo', 'London']
})
print("Original DataFrame:")
print(df_clean)

In [ ]:
# Example: Remove duplicates
print("Remove duplicate rows:")
print(df_clean.drop_duplicates())

In [ ]:
# Example: Rename columns
print("Rename columns:")
print(df_clean.rename(columns={'name': 'Name', 'age': 'Age', 'salary': 'Salary', 'city': 'City'}))

In [ ]:
# Example: Change data types
df_clean['age'] = df_clean['age'].astype(int)
print("Changed 'age' to int:")
print(df_clean.dtypes)

In [ ]:
# Example: Replace values
print("Replace city names:")
print(df_clean.replace({'New York': 'NY', 'London': 'LDN'}))

In [ ]:
# Example: Drop columns
print("Drop 'city' column:")
print(df_clean.drop(columns='city'))

### Practice Question 17.1: Data Cleaning

**Task**: Using df_clean DataFrame above:
1. Remove duplicate rows based on 'name' column only
2. Rename all columns to have uppercase first letters
3. Convert 'age' column to integer type (if not already)

In [ ]:
# Your code here

### Hard Question 17.2: Data Cleaning

**Task**: Create a DataFrame with messy data (mixed types, inconsistent formats, duplicates). Then:
1. Standardize column names (lowercase, replace spaces with underscores)
2. Remove duplicates keeping the last occurrence
3. Convert string numbers with commas to numeric (e.g., '1,000' -> 1000)
4. Normalize text data (trim whitespace, standardize case)
5. Create a function to detect and handle outliers in numeric columns

In [ ]:
# Your code here

---

## Congratulations! 

You've completed the comprehensive pandas tutorial notebook. Practice these concepts regularly to master pandas data manipulation and analysis.

**Key Takeaways:**
- Pandas provides powerful tools for data manipulation and analysis
- Practice is essential - try modifying the examples and solving the exercises
- Combine different techniques to solve complex data problems
- Always check your data types and handle missing values appropriately

**Next Steps:**
- Work on real-world datasets
- Explore pandas documentation for advanced features
- Practice combining multiple pandas operations
- Learn about performance optimization for large datasets